:root {
  --textColour: rgb(65, 64, 66);
  --btnBgolor: #3287b7;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: 'Neutrif Pro';
}

.link {
  text-decoration: none;
  color: #53a6eb;
  font-weight: 500;
}
.notificationbtn {
  display: inline-block;
  width: 50%;
  padding: 0.5em;
  border-top: 1px solid #cccccc;
  color: var(--btnBgolor);
}

.borderRight {
  border-right: 1px solid #cccccc;
}

.app_layout {
  background-color: #f2f0e4;
  height: 100vh;
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.letGoBtn {
  font-size: 1.3em;
  font-weight: 500;
  border: none;
  border-radius: 2em;
}
